<div id="hide-info">
  <span id="tab"><%= locals.tab || "tab-1"%></span>
</div>

<section id="admin-dbpage">
  <div id="overlay">
    <h2>Admin Dashboard</h2>
    <div id="panel">
      <div id="tabs">
        <a class="btn selected" href="/web/flights/form">New Flight</a>
        <button class="btn" id="tab-2">Your Flights</button>
        <button class="btn" id="tab-3">Analytics</button>
        <button class="btn hide" id="tab-temp">Return Flight</button>
      </div>
    </div>
  </div>
</section>
