<div id="hide-info"></div>

<div>
  <strong> ⚠️ Red Flags for Fake or Suspicious Websites:</strong>
  <ol>
    <li>Asking for Aadhar/PAN card for flight booking (not needed)</li>

    <li>Poor design, many pop-ups, no HTTPS in the address</li>

    <li>Only UPI or wallet-based payments</li>

    <li>No customer support or fake contact info</li>
  </ol>
</div>
