<div id="hide-info">this info is hidden</div>

<section id="home">
  <div class="hero">
    <div class="overlay">
      <div id="box">
        <h2>
          Welcome to <span class="h-1" style="color: white">Air</span
          ><span class="h-2">Ninja</span>
        </h2>
        <h3>
          An <i>Interactive Flight Booking Web Application</i> powered by
          <a href="https://www.codingninjas.com" id="cn-link" target="_blank"
            ><b>Coding Ninjas</b></a
          >
        </h3>
      </div>
    </div>
  </div>
</section>
